// CUSTOM FONTS

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// CUSTOM COLORS
$primary: #791D59;
$secondary: #BF9E79;
$warning: #E98C23;

// BOOTSTRAP ORIGINAL FILES
@import "../bootstrap-5.0.0-beta3/scss/bootstrap.scss";